body {
    background-color: black;
}

.noon {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    animation: nooninerida;
    animation-timing-function: linear;
}

@keyframes nooninerida {
    from {
        top: -10px
    }
    to {
        top: 600px
    }
}