/* @import url('font/Demo_ConeriaScript.ttf'); */

@font-face {
    src: url(font/HIROSHT.TTF);
    font-family: 'hirosh';
}

body {
    background-color: #eee;
    margin: 0;
    transition: .2s linear;
    font-family: 'hirosh', sans-serif;
    color: #333
}

main {
    margin: 3rem auto 0;
    width: 550px;
    background-color: rgb(116, 178, 189);
    padding: 1rem 2rem 2rem;
    border-radius: 4px;
}

.toggle {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

img {
    width: 1.8rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    display: none;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 75px;
    padding: 5px;
    border-radius: 50px;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.label .ball {
    position: absolute;
    background-color: #eee;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkbox:checked + .label .ball {
    transform: translateX(43px);
}

/* DARK MODE */
.dark {
    background-color: #333;
}

.dark main {
    background-color: #09FBBA;
}

.dark #title {
    color: white;
}